#include <stdio.h>

int main() {
    int a, b, c, d, e, f, g, largest;

    printf("Enter 7 numbers:\n");
    scanf("%d %d %d %d %d %d %d", &a, &b, &c, &d, &e, &f, &g);

    largest = a;

    if(b > largest)
        largest = b;
    if(c > largest)
        largest = c;
    if(d > largest)
        largest = d;
    if(e > largest)
        largest = e;
    if(f > largest)
        largest = f;
    if(g > largest)
        largest = g;

    printf("Largest number = %d", largest);

    return 0;
}
